/* Reset básico para remover margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Sonsie One', cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #555;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px; /* Espaçamento entre os itens de menu */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margem do último item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav form {
    display: flex;
    align-items: center;
}

nav input[type="search"] {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}



main {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

aside {
    background: #e3e3e3;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
}
